@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
@section styles{
}
@section scripts{
    <script>
        'use staic'
        layui.use(['table', 'form', 'element', 'laydate'], function () {
            var table = layui.table, form = layui.form, element = layui.element, laydate = layui.laydate;

            //var myInitFilter = {
            //    Type: "and",
            //    conditions: [{
            //        Attribute: "IS_DELETE",
            //        Datatype: "bit",
            //        Operatoer: "eq",
            //        Value: "false"
            //    }]
            //};

            var myInitFilter = null;

            let tableWhere = {
                Order: 'CreateTime  DESC',
                ViewName: 'view_DemoStudent',
                Filter: JSON.stringify(myInitFilter)
            };



            table.render({
                elem: '#table'
                , url: '/api/PublicService/GetGridList' //数据接口
                , page: { limit: 10, theme: '#1E9FFF' } //开启分页
                , method: 'post'
                , where: tableWhere
                , contentType: 'application/json'
                , size: 'sm'
                //,height: 'full-145'
                , loading: true  //分页有加载图标
                , cols: [[ //表头
                    { checkbox: true }
                    , { field: 'stuName', title: '学生姓名', width: 120 }
                    , { field: 'createTime', title: '创建时间', width: 160 }

                ]]
            });

            window.searchform = function () {
                var filter = $.li.getFilters();
                if (myInitFilter && myInitFilter.conditions) {
                    if (filter) {
                        filter.conditions = _.union(filter.conditions, myInitFilter.conditions);
                    } else {
                        filter = myInitFilter;
                    }
                }
                if (filter) {
                    tableWhere.Filter = JSON.stringify(filter);
                } else {
                    tableWhere.Filter = null;
                }
                table.reload('table', { where: tableWhere, page: { curr: 1 } });
            };


        });
    </script>
}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-collapse" lay-accordion style="margin-bottom:10px;">
                <div class="layui-colla-item" style="position:relative;">
                    <h2 class="layui-colla-title">查找</h2>
                    <div class="layui-colla-content layui-show">
                        <form class="layui-form" id="mySearchForm" onsubmit="return false">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-block">
                                        <input name="StuName" class="layui-input" data-name="StuName" data-op="like" data-datatype="nvarchar" />
                                    </div>
                                </div>
                                @*<div class="layui-inline">
                                        <label class="layui-form-label">客户名称</label>
                                        <div class="layui-input-block">
                                            <input name="HBMC" class="layui-input" data-name="HBMC" data-op="eq" data-datatype="nvarchar" />
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">客户名称</label>
                                        <div class="layui-input-block">
                                            <input name="HBMC" class="layui-input" data-name="HBMC" data-op="eq" data-datatype="nvarchar" />
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">客户名称</label>
                                        <div class="layui-input-block">
                                            <input name="HBMC" class="layui-input" data-name="HBMC" data-op="eq" data-datatype="nvarchar" />
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">客户名称</label>
                                        <div class="layui-input-block">
                                            <input name="HBMC" class="layui-input" data-name="HBMC" data-op="eq" data-datatype="nvarchar" />
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">客户名称</label>
                                        <div class="layui-input-block">
                                            <input name="HBMC" class="layui-input" data-name="HBMC" data-op="eq" data-datatype="nvarchar" />
                                        </div>
                                    </div>*@
                            </div>
                        </form>
                        <div style="position:absolute;right:20px; bottom:10px;">
                            <a href="javascript:void(0)" class="layui-btn layui-btn-sm" onclick="searchform()">
                                <i class="layui-icon layui-icon-search"></i>
                                查询(enter)
                            </a>
                            <a href="javascript:void(0)" class="layui-btn layui-btn-sm" onclick="$('#mySearchForm').form('clear')">
                                <i class="layui-icon layui-icon-return"></i>
                                清空(esc)
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-primary" onclick="add()">
                    <i class="layui-icon layui-icon-add-1"></i>
                    新增
                </a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-normal" onclick="add()">
                    <i class="layui-icon layui-icon-upload"></i>
                    导入
                </a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm layui-btn-normal" onclick="add()">
                    <i class="layui-icon layui-icon-edit"></i>
                    编辑
                </a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm  layui-btn-danger" onclick="add()">
                    <i class="layui-icon layui-icon-delete"></i>
                    删除
                </a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm" onclick="add()">
                    <i class="layui-icon layui-icon-template-1"></i>
                    导出
                </a>
                <a href="javascript:void(0)" class="layui-btn layui-btn-sm  layui-btn-warm" onclick="add()">
                    <i class="layui-icon layui-icon-refresh "></i>
                    刷新
                </a>
            </div>
            <table class="layui-table" id="table" lay-filter="tableFilter"></table>
        </div>
    </div>
</div>


