<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content='jquery,layui,vue,demo' />
    <meta name="description" content='layui,vue' />
    <title>MyD3-Demo</title>
    @{ await Html.RenderPartialAsync("~/Views/Partial/CommonCss.cshtml"); }

    @{ await Html.RenderPartialAsync("~/Views/Partial/CommonJs.cshtml"); }

    @RenderSection("styles", required: false)

    @RenderSection("scripts", required: false)

</head>
<body>
    @RenderBody()
</body>
</html>
